/*Bu loyihaning css qismi*/

* {
	color: black;
}

body {
	background-color: rgba(15, 25, 30, 0);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p.center {
	color: black;
	border-top-style: dotted;
	border-left-style: solid;
	border-bottom-style: dotted;
	border-right-style: solid;

}

p.center:hover {
	background-color: blue;
	font-variant: normal;
}

p {
	color: blue;
}

.ismim {
	font-family: "Sofia", sans-serif;
	font-family: "Audiowide", sans-serif;
}

p.lerge {
	font-size: 300%;
}

#gard {
	height: 200px;
	background-image: linear-gradient(to top right, red, blue);
	border-radius: 15px;
}

p.ex1 {
	max-width: 500px;
	height: 70px;
	border: 2px solid black;
	outline: black solid 10px;
	margin: auto;
	font-weight: 900;
	overflow: auto;
}

p.ex1:hover {
	outline: blue solid 10px;
	font-weight: 900;
}

p.c {
	text-align-last: justify;
}

ul {
	list-style-image: url(favicon\ \(5\).ico);
	list-style-type: none;
	border-left: 5px solid blue;
	border-right: 5px solid blue;
	border-bottom: 1px solid blue;
	border-top: 1px solid blue;
	border-radius: 5px;
}

li:hover {
	background: skyblue;
	border-radius: 5px;
}

ul:hover {
	background: gold;
	border-radius: 5px;
}

#ismlar {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	border-collapse: collapse;
	width: 100%;
	font-size: 30px;
	empty-cells: hide;
}

#ismlar td,
#ismlar th {
	border: 1px solid #ddd;
	padding: 5px;
}

#ismlar tr:nth-child(even) {
	background-color: #f2f2f2;
}

#ismlar tr:hover {
	background-color: #ddd;
}

#ismlar th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #04aa6d;
	color: white;
}

#ismlar td:hover {
	border: 2px dotted black;
}

.yopishgan {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	padding: 5px;
	background-color: #04aa6d;
	border: 2px solid #04aa6d;
}

.conteyner {
	position: relative;
}

.rasm1 {
	width: 100%;
	height: auto;
	opacity: 0.1;
}

.birinchi {
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
	color: black;
	font-size: 18px;
}

.ikkinchi {
	position: absolute;
	top: 10px;
	left: 16px;
}

.rasm2 {
	position: absolute;
	left: 0px;
	top: 100%;
	z-index: -2;
}

.floatd {
	border: 3px solid blue;
	padding: 5px;
	overflow: auto;
}

.rasm4 {
	float: right;

}

/* * {
	box-sizing: border-box;
}

body {
	margin: 0;
}

.header {
	background-color: #2196F3;
	color: white;
	text-align: center;
	padding: 15px;
}

.footer {
	background-color: #444;
	color: white;
	padding: 15px;
}

.birinchi_menyu {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #777;
}

.birinchi_menyu {
	float: left;
}

.birinchi_menyu a {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 16px;
	text-decoration: none;
}

.birinchi_menyu a:hover {
	background-color: #222;
}

.birinchi_menyu li a.active {
	color: white;
	background-color: #4CAF50;
}

.pastki {
	float: left;
}

.ikkinchi_menyu {
	content: "";
	clear: both;
	display: table;
}

.asosiy {
	width: 25%;
} */

/* .content {
	width: 75%;
}

.asosiy ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.asosiy li a {
	margin-bottom: 4px;
	display: block;
	padding: 8px;
	background-color: #eee;
	text-decoration: none;
	color: #666;
}

.asosiy li a:hover {
	background-color: #555;
	color: white;
}

.asosiy li a.active {
	background-color: #008CBA;
	color: white;
} */

span.a {
	display: inline;
	width: 50px;
	height: 50px;
	padding: 1px;
	border: 1px solid blue;
	background-color: yellow;
}

span.b {
	display: inline-block;
	width: 100px;
	height: 100px;
	padding: 5px;
	border: 1px solid blue;
	background-color: yellow;

}

span.c {
	display: block;
	width: 100px;
	height: 100px;
	padding: 5px;
	border: 1px solid blue;
	background-color: yellow;

}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

div.right {
	position: absolute;
	right: 0px;
	width: 300px;
	border: 3px solid green;
	padding: 10px;
}

.aaa {}