$header-top__call:linear-gradient(90deg, #8e67e1 0%, #a58af1 100%);
$header-nav__bg:#F2F2F2;
$hedaer-nav__text:#4F4F4F;
$header-desc__text:#828282;
$header-call:linear-gradient(90deg, #1B9820 0%, #51CB56 100%);
$allText__color:#7449D0;


