
/*Bu loyihaning css qismi*/

*{
	color: black;
}

body{
	background-color: rgba(15, 25, 30, 0);
}

p.center{
	color: black;
	border-top-style: dotted;
	border-left-style: solid;
	border-bottom-style:dotted;
	border-right-style: solid;
	
}

p.center:hover{
	background-color: blue;
	font-variant: small-caps;
}

p{
	color: blue;
}

.ismim{
	font-family: "Sofia", sans-serif;
        font-family: "Audiowide", sans-serif;
}

p.lerge{
	font-size: 300%

}

#gard{  
	height: 200px;
	background-image: linear-gradient(to top right, red, blue);
	border-radius: 15px;
}

p.ex1{
	max-width: 500px;
	border: 2px solid black;
	outline: black solid 10px;
	margin: auto;
	font-weight: 900;
}
p.ex1:hover{
	outline: blue solid 10px;
	font-weight: 900;
}
p.c{
	text-align-last: justify;
}